body {
  background: url("../images/submov.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

#title a:link, a:visited {
  font-family: 'UnifrakturCook', cursive;
  font-size:30px;
  word-spacing: 10px;
  text-decoration: none;
  color:#FFF;
}

#title a:hover {
background-color:#FFF;
color:#000;
padding:20px;
}

#title {
  margin-top:25%;
  text-align:center;
}

#music {
  width:100%;
  bottom:50px;
  position:fixed;
  text-align:center;
}
