body { background-color:#000;
    padding:50px;
    font-family: sans-serif;
    font-size: 14px;
    color:#000;
  }

  a:link, a:visited, a:hover {
    text-decoration: none;
    color:inherit;
  }

  a:hover {background-color:#000;
    color: #fff;
  }






#container {background-color:#fff;
  width:1200px;
height:600px;
border: 1px solid #000;
padding:20px;
margin:0 auto;
position:relative;}

#photo {
  height:600px;
  width:600px;
float:left;
}

#photo img {
  height:600px;
  width:600px;}

#entry {margin-left:20px;
  height:inherit;
width:580px;
float:left;
text-align:left;
overflow: auto;
font-size: 18px;
}

p.under {border-bottom:2px solid #000;
  font-size:35px;
  text-indent:none;
 }

#exit {position:relative;
top:-20px;
left:-60px;
float:right;
color:#fff;
font-size:20px;
weight:bold;}
